/* переменные */

$title: #212121;
$text: #757575;
$a-hover-focus--btn: #2196F3;
$btn-hover-focus: #188CE8;
$text-backgr-white: #FFFFFF;
$text-gray: rgba(255, 255, 255, 0.6);
$backgr-black: #2F303A;
$backgr-prior-service: #F5F5F5;
$backgr-team: #F5F4FA;
$icon: #AFB1B8;
$icon-backgr: rgba(255, 255, 255, 0.1);
$black: #000000;
$border: #EEEEEE;