<section class="hero">
    <div class="container">
        <h1>ice cream made with <span>passion</span></h1>
        <button>Products</button>
        <a href="#">How it’s made?</a>
        <img src="images/hero/dish-desk.png" alt="" />
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg class="icon" width="12" height="12">
                <use href="images/sprite-icon.svg#arrow"></use>
            </svg>
        </div>
        <ul>
            <li>16</li>
            <li>cafes</li>
            <li>23</li>
            <li>food trucks</li>
        </ul>
        <img src="images/hero/hero-desk.png" alt="" />
    </div>

</section>